@page "{id:int}"
@using System.Globalization
@using HandelsRaketten.Models.AdModels.SubCategories.Plants
@model HandelsHjornet.Pages.AdPages.ShowAdModel
@{
    ViewData["Title"] = Model.Ad.Title;
}



<h2>@Model.Ad.Title</h2>
<p>@Model.Ad.Description</p>

@if (Model.Ad is IndoorPlantAd indoorPlantAd)
{
    <p>Model: @indoorPlantAd.Species</p>
    <p>Year: @indoorPlantAd.SunlightNeeds</p>
}
else if (Model.Ad is OutdoorPlantAd outdoorPlantAd)
{
    <p>Location: @outdoorPlantAd.FloweringSeason</p>
    <p>Square Feet: @outdoorPlantAd.RecommendedSoil</p>
}

<div id="chatBox">
    <ul id="messagesList"></ul>
</div>
<input type="text" id="messageInput" placeholder="Type a message..." />
<button id="sendButton">Send</button>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
    <script>
        const adId = @Model.Ad.Id;
        const userId = '@Model.CurrentUser.Id';

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();

        connection.on("ReceiveMessage", function (user, message) {
            const msg = `${user}: ${message}`;
            const li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("messagesList").appendChild(li);
        });

        connection.start().then(() => {
            connection.invoke("JoinAdGroup", adId);
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            const message = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", userId, message, adId).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });
    </script>
}
