@page
@model HandelsHjornet.Pages.TestPages.ViewCategoriesTestPageModel
@{
}


<div class="white-background">
    <div>
        <h3>Vælg Kategori</h3>
        <a asp-page="/AdPages/CreateAd">Opret Annonce</a>
        <form method="post">
            <select asp-for="SelectedOption" class="form-control">
                <option value="All">Alle Ads</option>
                <option value="Plants">Planter</option>
                <option value="IndoorPlant">Indedørs Planter</option>
                <option value="OutdoorPlant">Udendørs Planter</option>
                <option value="PlantAccessories">Plante Tilbehør</option>
                <option value="Soil">Jord</option>
                <option value="Fertilizer">Gødning</option>
                <option value="Tool">Værktøj</option>
                <option value="GardeningTool">Have værktøj</option>
            </select>
            <div>
                <button type="submit" class="btn btn-primary">Vælg</button>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-7"><h5>Search Name</h5></div>
        <div class="col-4"><h5>Filter Price</h5></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-4">
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
                    <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-3"></div>
        <div class="col-5">
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                    </div>
                    <input asp-for="MinPrice" class="form-control me-2" />
                    <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                    </div>
                    <input asp-for="MaxPrice" class="form-control me-2" />
                    <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>
    <div>
        <table class="table table-bordered table-hover table-striped table-opacity" width="60%">
            	<colgroup>
		<col style="width : 5%">
		<col style="width : 77%">
		<col style="width : 9%">
		<col style="width : 9%">
	</colgroup>
	<thead>
			<tr class="btn-secondary active">
                    <th>
                        <div class="d-flex justify-content-between p-0">
                            <div><a asp-page-handler="SortName" style="color: white; text-decoration: none;"><h5>Navn</h5></a></div>
                        </div>
                    </th>

                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div>
                            <h5>Beskrivelse</h5>
                        </div>
                    </div>
                   
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div>
                            <div><a asp-page-handler="SortPrice" style="color: white; text-decoration: none;"><h5>Pris</h5></a></div>
                        </div>

                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <h5>Aktiv</h5>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <h5>OprettelsesDato</h5>
                    </div>
                </th>
                <th>
                    <h5>Action</h5>
                </th>
            </tr>
	</thead>
            <tbody>
                @foreach (var ad in Model.Ads)
                {
                    if(ad != null)
                    {
                        <tr>
                            <td>@ad.Title</td>
                            <td>
                                @if (!string.IsNullOrEmpty(ad.Description))
                                {
                                    <p>
                                        @(ad.Description.Length > 50
                                            ? ad.Description.Substring(0, 40) + "..."
                                            : ad.Description)
                                    </p>
                                }
                            </td>
                            <td>@ad.Price</td>
                            <td>@ad.Active</td>
                            <td>@ad.CreatedOn</td>
                            <td class="d-inline-flex">
                                <a asp-page="DeleteAd" class="btn btn-danger" asp-route-adId="@ad.Id">Slet</a>
                                <a asp-page="ShowAd" class="btn btn-primary" asp-route-adId="@ad.Id" asp-route-category="@ad.Category">Vis</a>
                                <a asp-page="EditAd" class="btn btn-primary" asp-route-adId="@ad.Id" asp-route-subCategory="@ad.Discriminator">Rediger</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

