@page
@using System.Globalization
@using HandelsRaketten.Models.AdModels.SubCategories.Plants
@model HandelsHjornet.Pages.AdPages.ShowAdModel
@{
    ViewData["Title"] = Model.Ad.Title;
}


<div class="white-background">
    <h2>@Model.Ad.Title</h2>
    <p>@Model.Ad.Description</p>

    @if (Model.Ad is IndoorPlantAd indoorPlantAd)
    {
        <p>Species: @indoorPlantAd.Species</p>
        <p>SunlightNeeds: @indoorPlantAd.SunlightNeeds</p>
    }
    else if (Model.Ad is OutdoorPlantAd outdoorPlantAd)
    {
        <p>FloweringSeason: @outdoorPlantAd.FloweringSeason</p>
        <p>RecommendedSoil: @outdoorPlantAd.RecommendedSoil</p>
    }

    <div style="border: 1px solid gray; background-color: silver;">
        @if(Model.Messages != null)
        {
            @foreach (var m in Model.Messages)
            {
                <div style="border: 1px dotted grey">   
                    <br />
                    <p>@m.Sender.UserName</p>

                    <p>@m.Content</p>

                    <p>@m.Timestamp</p>
                    <br />
                </div>

            }
        } 
    </div>
    <form method="post">
        <textarea asp-for="NewMessage.Content" placeholder="Type a message..."></textarea> 
        <input type="submit" value="Send" />
    </form>
    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</div>


