@page
@model HandelsHjornet.Pages.TestPages.ViewCategoriesTestPageModel
@{
}


<div>
    <div>
        <h3>Vælg Kategori</h3>
        <a asp-page="/AdPages/CreateAd">Opret Annonce</a>
        <form method="post">
            <select asp-for="SelectedOption" class="form-control">
                <option value="All">Alle Ads</option>
                <option value="Plants">Planter</option>
                <option value="IndoorPlant">Indedørs Planter</option>
                <option value="OutdoorPlant">Udendørs Planter</option>
                <option value="PlantAccessories">Plante Tilbehør</option>
                <option value="Soil">Jord</option>
                <option value="Fertilizer">Gødning</option>
                <option value="Tool">Værktøj</option>
                <option value="GardeningTool">Have værktøj</option>
            </select>
            <div>
                <button type="submit" class="btn btn-primary">Vælg</button>
            </div>
        </form>

    </div>
    <div>
        <table class="table table-primary">
            <tbody>
                @foreach (var ad in Model._ads)
                {
                    <tr>
                        <td>@ad.Name</td>
                        <td>@ad.Active</td>
                        <td>@ad.CreatedOn</td>
                        <td>@ad.Description</td>
                        <td>@ad.Price</td>
                        <td><a asp-page="DeleteAd" class="btn btn-danger" asp-route-adId="@ad.Id" asp-route-category="@ad.Category">Slet</a></td>
                        <td><a asp-page="ShowAd" class="btn btn-primary" asp-route-adId="@ad.Id" asp-route-category="@ad.Category">Vis</a></td>
                        <td><a asp-page="EditAd" class="btn btn-primary" asp-route-adId="@ad.Id" asp-route-category="@ad.Category">Rediger</a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

